
.footer-container{
    margin-top: 10px;
    padding: 20px;
    background: #ffffff;
    text-align: center;
    .links{
        a{
            padding: 20px;
            img{
                width: 30px;
                
            }
        }
    }
}