*{
    margin: 0px;
    padding: 0px ;
}

.intro-container{
    background: url(../assets/icons/defaultcard-hover-5eef4f0957217910c705b56db7539e0f.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-clip: initial;
    background-size: cover;
    text-align: center;
    padding: 50px;
    color: #125472;

    
    .introduction{
        display: flex;
        align-items: center;
        text-align: left;
        padding-top: 20px;
        img{
            min-width: 250px;
            padding-right: 0px;
            transition:  0.3s ease-in-out;
            text-align: center;
            &:hover{
                transform: scale(1.2);
                border: none;
            }
        }
        .about_me{
            margin-top: 50px;
            padding: 0px 10px;
            span{
                text-align: center;
                font-weight: normal;
                color: #9C9C9C ;
            }
            
            h3{
                font-size: 5vh;
                color:#125472;
            }
            p{
                padding: 0px;
                margin: 40px 0px;
                line-height: 1.3lh;
            }
        }
    }

    .social-links{
        margin-top: 50px ;
        text-align: center;
        img{
            width: 25px;
            padding: 0px 30px;
        }
    }
}
.about{
    img{
        margin: 20px 0px;
        background: url(../assets/icons/White\ Minimalist\ Profile\ LinkedIn\ Banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-clip: initial;
        width: 100%;
    }
    .about-me{
        background-color: #125472;
        color: #fff;
        padding: 20px;
        text-align: center;
        span{
            font-size: 30px;
            text-decoration: underline;
        }
        p{
            margin-top: 30px;
            font-weight: 400;
            word-spacing: 4px;
            line-height: 1.4lh;
        }
        }
}
.services{
    padding: 30px;
    background: #ffffff;
    text-align: center;
    p{
        margin: 20px;
    }
    .div{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        div{
            display: flex;
            padding: 30px 40px;
            border: 0px;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
            margin: 30px;
            transition:  0.3s ease-in-out;
            &:hover{
                background-color: #ebebeb73;
                transform: scale(0.9);
            }
            h4{
                text-align: left;
            }
            img{
                width: 30px;
                margin-right: 20px;
            }
        }
        
    }
}

// mobile views
@media only screen and (max-width: 768px){
    .intro-container{
        padding: 0px;
        background-position: top center;
        background-clip: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        color: #125472;
    }
    .introduction{
        display: flex;
        flex-direction: column;
        img{
            margin-right: 0px;
            margin-top: 70px;
            max-width: 230px;
            transition:  0.3s ease-in-out;
            &:hover{
                transform: scale(0.9);
                border: none;
            }
        }
        .about_me{
            margin: 0px;
            img{
                width: 150px;
            }
            margin: 0px;
            h3{
                font-size: 4vh;
                color: #125472;
            }
            span{
                text-align: center;
                font-weight: normal;
                color: #CEB01C; 
            }
            p{
                text-align: center;
            }
        }
        
    }
    .services{
        .div{
            grid-template-columns: 1fr;
            
            div{
                margin:  15px;
                
            }
        }
    }
}


// tablet viewers
@media only screen and (min-width: 769px) and (max-width: 1200px) and (orientation: landscape) {
    .introduction{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img{
            margin-top: 20px;
            max-width: 250px;
        }
        .about_me{
            span{
                text-align: center;
                font-weight: normal;
                color: #CEB01C;
            }
            
            h3{
                font-size: 5vh;
                color:#125472;
            }
            p{
                margin: 30px 10px;
            }
        }
    }
    
    .services{
        .div{
            grid-template-columns: 1fr 1fr;
            div{
                margin:  15px;
                
            }
        }
    }
}